---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/NavBar.astro";
import Card from "../components/Card.astro";
import Date from "../components/Date.astro";
import Post1 from "../assets/img/Post1.webp";
import IlusSchool from "../assets/svg/IlusSchool.svg";
import IconFacebook from "../assets/svg/IconFacebook.astro";
import IconInstagram from "../assets/svg/IconInstagram.astro";
import IconYoutube from "../assets/svg/IconYoutube.astro";
import IconArrow from "../assets/svg/IconArrow.astro";
import { Image } from "astro:assets";
---

<Layout title="Instituto Cristo Obrero">
  <Navbar />
  <a
    href="#inicio"
    class="flex justify-center items-center w-12 h-12 bg-red-800 rounded-md absolute max-sm:right-6 max-sm:bottom-6 right-12 bottom-8 z-20"
    ><IconArrow /></a
  >
  <main class="w-full h-full flex justify-center items-center flex-col">
    <section
      class="w-full flex relative justify-center max-w-[1440px] h-[600px] bg-center bg-cover bg-[url('../img/HeroImg.webp')]"
    >
      <header
        class="px-4 h-full w-full backdrop-brightness-50 flex flex-col justify-center items-center"
      >
        <h1
          class="text-center text-5xl text-white font-semibold mb-2 max-sm:text-[44px] text-balance"
        >
          Bienvenidos al Instituto Cristo Obrero
        </h1>
        <span class="text-center text-white text-2xl"
          >"Una buena <span class="text-blue-300 font-semibold">educación</span>
          es el camino de la paz"</span
        >
        <ul class="flex gap-4 mt-4">
          <li>
            <a
              href="https://www.facebook.com/p/Instituto-Cristo-Obrero-Villa-Soldati-100070706805569/?locale=es_LA"
              target="_blank"
              ><IconFacebook
                class="w-7 fill-blue-100 hover:fill-blue-300 transition-colors"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/cristoobrerosoldati/"
              target="_blank"
              ><IconInstagram
                class="w-7 fill-blue-100 hover:fill-blue-300 transition-colors"
              /></a
            >
          </li>
          <li>
            <a
              href="https://www.youtube.com/@cristoobrero-villasoldati8216"
              target="_blank"
              ><IconYoutube
                class="w-8 h-8 fill-blue-100 hover:fill-blue-300 transition-colors"
              /></a
            >
          </li>
        </ul>
      </header>

      <footer
        class="max-w-full px-4 h-56 w-[1200px] max-[1260px]:w-[1000px] absolute -bottom-28 grid grid-cols-auto-cards"
      >
        <Card
          class="bg-blue-950"
          hover="hover:text-blue-950"
          title="Mesas de Examen"
          link="Ver Información"
          href="https://docs.google.com/forms/d/e/1FAIpQLSc4f-xtMR_07TcIrGC3oKtGcz6WK0UW2TLy12ufQgzREwFu4g/closedform"
        />
        <Card
          class="bg-yellow-500"
          hover="hover:text-yellow-500"
          title="Solicitud de Vacantes"
          link="Inscripción"
          href="https://docs.google.com/forms/d/e/1FAIpQLScruPeAoSpPC4L4fTmqr4EG6Ryg0AP9jOJD0o1IEV1LrGrdUw/viewform"
        />
        <Card
          class="bg-red-800"
          hover="hover:text-red-800"
          title="Reglamento de Becas"
          link="Descargar"
          download="Inscripcion2024.jpg"
          href="./src/assets/img/Inscripcion2024.jpg"
        />
      </footer>
    </section>

    <section
      class="w-full h-full max-[930px]:mt-[360px] max-sm:mt-[580px] mt-36 px-4 py-10 flex flex-col justify-center max-w-[1440px]"
    >
      <header class="w-full text-[26px]">
        <h2>
          Fechas donde podrás rendir tu examen <span
            class="text-red-800 font-semibold">(Secundario)</span
          >
        </h2>
      </header>
      <footer class="w-full flex flex-wrap mt-4">
        <ul class="w-full flex flex-col gap-2">
          <Date day="Martes 25-06 (8:50 hs)" subject="Matemática 5°" />
          <Date
            day="Martes 25-06 (9:30 hs)"
            subject="Sistemas de Información Contable 4°"
          />
          <Date day="Jueves 27-6 (7:30 hs)" subject="Matemática 5°" />
          <Date
            day="Jueves 27-06 (8:50 hs)"
            subject="Energía, Radición y Vida 5° - Química 5° - Inglés 5°"
          />
          <Date day="Jueves 27-6 (10:30 hs)" subject="Lengua 5°" />
          <Date
            day="Viernes 28-6 (8:50 hs)"
            subject="Filosofía de la Ciencia y la Tecnología 4° - EDI (Religión 5°) - Filosofía 5°"
          />
        </ul>
      </footer>
    </section>

    <section
      class="w-full flex flex-col justify-start max-w-[1440px] px-4 py-10"
    >
      <header class="w-full text-[26px]">
        <h2>
          Inscripciónes Abiertas 2025 <span class="text-blue-900 font-semibold"
            >(Nivel Inicial - Nivel Primario)</span
          >
        </h2>
      </header>

      <footer class="h-full grid grid-cols-auto-images place-items-center gap-10" >
        <div class="w-full h-full flex flex-col">
          <picture class="w-full">
            <Image class="w-[480px]" src={Post1} alt="post 1" />
          </picture>
          <a
          class="w-[480px] max-w-full mt-4 bg-blue-900 text-white text-center text-lg border-2 font-semibold rounded-md py-[6px] px-6 transition-opacity hover:opacity-90"
          download="Inscripciónes 2025 - Instituto Cristo Obrero"
          href="./src/assets/img/Post1.webp">Descargar</a
        >
        </div>
      <picture class="w-full max-w-full flex justify-center items-center">
        <Image class="w-[600px]" src={IlusSchool} alt="post 1" />
      </picture>
      </footer>
    </section>
  </main>
</Layout>
